body{
	padding-top:1px;
	background: #ffffff;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
}
.mythumbnail{
	background-color: #ffffff;
	box-shadow: 10px 10px 5px #888888 
}
